//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 14 23:35:32 2021
//! **************************************************************************

SCHEMATIC START;
COMP "VoutB" LOCATE = SITE "P126" LEVEL 1;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "Ain<6>" LOCATE = SITE "P17" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "Ain<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "Ain<8>" LOCATE = SITE "P24" LEVEL 1;
COMP "Bin<0>" LOCATE = SITE "P131" LEVEL 1;
COMP "Bin<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "Bin<2>" LOCATE = SITE "P127" LEVEL 1;
COMP "Bin<3>" LOCATE = SITE "P132" LEVEL 1;
COMP "regame" LOCATE = SITE "P47" LEVEL 1;
COMP "Bin<4>" LOCATE = SITE "P134" LEVEL 1;
COMP "Bin<5>" LOCATE = SITE "P138" LEVEL 1;
COMP "Bin<6>" LOCATE = SITE "P140" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P112" LEVEL 1;
COMP "Bin<7>" LOCATE = SITE "P142" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P114" LEVEL 1;
COMP "Bin<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P115" LEVEL 1;
COMP "sw0" LOCATE = SITE "P66" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P116" LEVEL 1;
COMP "sw1" LOCATE = SITE "P62" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P117" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P118" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P119" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "Gout" LOCATE = SITE "P26" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "P121" LEVEL 1;
COMP "osc" LOCATE = SITE "P123" LEVEL 1;
COMP "Vout" LOCATE = SITE "P23" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "Ain<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "Ain<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "Ain<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "Ain<3>" LOCATE = SITE "P10" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "Ain<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "Ain<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

